/* ****COMMON**** */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.white{
    color: white;
    opacity: 0.6;
}

h2{
    color: white;
}

.circle{
    border-radius: 50%;
    object-fit: contain;
}



/* ***SPAZIATURE*** */
.mrg-bottom{
    margin-bottom: 0.7rem;
}
.pddng-right{
    padding-right: 0.5rem;
}

.mrg-top{
    margin-top: 2.5rem;
}

.mrg-left{
    margin-left: 1rem;
}
.mrg-right{
    margin-right: 1rem;
}

/* ***HOVER*** */
.upgrade:hover{
    scale: 1.2;
}

.no-opacity:hover{
    color: white;
    opacity: 1;
}


.fa-regular.fa-circle-play:hover{
    scale: 2;
}

.card:hover .start{
    display: block;
}

.card:hover img{
    opacity: 0.5;
}

/***MAIN*** */

.screen.container{
    height: 100vh;
    width: 100%;
}

.main-container{
    width: 100%;
    height: calc(100% - 5rem);
    display: flex;
    background-color: #141922;
}

.content-container{
    overflow: auto;
    height: calc(100vh - 5rem);
    width: calc(100vw - 10rem);
    background-color: #141922;
}

.song-container{
    width: 100%;
    height: 5rem;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/****NAVBAR*** */

.nav-container{
    width: 10rem;
    height: calc(100vh - 5rem);
    background-color: black;
    padding-left: 1rem;
    padding-top: 1rem;
}

.logo{
    width: 70%;
    margin-bottom: 1.5rem;
}

.small-logo{
    display: none;
}

.mobile-toolbar{
    display: none;
}

.playlist-col{
    height: calc(100% - 5rem);
    overflow: auto;
}


h3{
    color: white;
}

.fa-solid.fa-square-plus{
    font-size: 25px;
}

hr{
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.user-box{
    height: 5rem;
}

/* ***UPGRADE BUTTON SECTION*** */

.upgrade-row{
    width: 100%;
    height: 10%;
    background-color: #080b12;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.upgrade{
    background-color: #080b12;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    margin-right: 2rem;
    padding: 0.7rem 1.4rem;
}




/* ***MAIN SONG SECTION*** */
.song-box{
    background-color: #141922;
    height: 90%;
    padding-top: 1rem;
}

.nav{
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    width: 60%;
    margin: 0 auto;
}

.song-row{
    display: flex;
    gap: 1rem;
}

.card{
    width: calc(100% / 6 - 2rem );
}

.song-card{
    width: 100%;
    position: relative;
}

.start{
    color: white;
    scale: 2;
    position: absolute;
    right: 45%;
    top: 50%;
    transform: translate(-50% -50%);
    display: none;
}

.song-card img{
    width: 100%;
}

.text-card{
    text-align: center;
    color: white;
}

/* ***SONG FOOTER SECTION*** */

.left{
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

.square{
    height: 3rem;
    width: 3rem;
    margin-right: 0.5rem;
}

.square img{
    width: 100%;
}

.font-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center{
    color: white;
    
}

.right{
    color: white;
    margin-right: 1rem;
}

input[type="range"]{
    filter: hue-rotate(210deg);
    height: 7px;
}

progress{
    width: 400px;
    height: 5px;
    filter: hue-rotate(210deg);
    margin-top: 1.5rem;
}
.song-toolbar{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
}

/* ***MEDIA QUIERIES*** */

@media screen and (max-width: 1180px) {

    .card{
        width: calc(100% / 4 - 2rem);
    }

    .song-row{
        flex-wrap: wrap;
    }
    
}


@media screen and (max-width: 880px) {

    .card{
        width: calc(100% / 2 - 3rem);
    }
    .song-row{
        gap: 3rem;
    }
    progress{
        width: 200px;
    }
    .nav{
        gap: 1rem;
        flex-wrap: wrap;
        width: 70%;
    }
    .tool-square{
        width: calc(100% / 3 - 1rem);
        font-size: 16px;
    }
    .font-box{
        flex-direction: column;
    }
    .fa-regular.fa-folder{
        margin-left: 0;
    }
    .song-toolbar{
        gap: 1rem;
    }
}

@media screen and (max-width: 680px) {
    .nav-container{
        width: 5rem;
    }
    .content-container{
        width: calc(100vw - 5rem);
    }
    .nav{
        width: 95%;
        gap: 0.5rem;
    }
    .tool-square{
        width: calc(100% / 4 - 0.5rem);
        font-size: 14px;
    }
    progress{
        width: 150px;
    }
    .logo{
        display: none;
    }
    .small-logo{
        display: block;
    }
    .playlist-col{
        display: none;
    }
    .mobile-toolbar{
        display: block;
        gap: 1rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: calc(100% - 10rem);
        margin-top: 1rem;
    }
    .mobile-toolbar i{
        color: white;
        font-size: 30px;
    }
    .user-box{
        display: none;
    }
    
    

}
