/* ****COMMON**** */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.white{
    color: white;
    opacity: 0.6;
}

h2{
    color: white;
}

/* ***SPAZIATURE*** */
.mrg-bottom{
    margin-bottom: 0.7rem;
}
.pddng-right{
    padding-right: 0.5rem;
}

.mrg-top{
    margin-top: 2.5rem;
}

.mrg-left{
    margin-left: 1rem;
}


/***MAIN*** */

.screen.container{
    height: 100vh;
    
}

.main-container{
    width: 100%;
    height: calc(100vh - 5rem);
    display: flex;
}

.content-container{
    overflow: auto;
}

.song-container{
    width: 100%;
    height: 5rem;
    background-color: #282828;
}

/****NAVBAR*** */

.nav-container{
    width: 10rem;
    height: calc(100vh - 5rem);
    background-color: black;
    padding-left: 1rem;
    padding-top: 1rem;
}

.logo{
    width: 70%;
    margin-bottom: 1.5rem;
}

.playlist-col{
    height: calc(100% - 5rem);
}


h3{
    color: white;
}

.fa-solid.fa-square-plus{
    font-size: 25px;
}

hr{
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.user-box{
    height: 5rem;
}

/* ***UPGRADE BUTTON SECTION*** */

.upgrade-row{
    width: 100%;
    height: 10%;
    background-color: #080b12;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.upgrade{
    background-color: #080b12;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    margin-right: 2rem;
    padding: 0.7rem 1.4rem;
}




/* ***MAIN SONG SECTION*** */
.song-box{
    background-color: #141922;
    height: 90%;
    padding-top: 1rem;
}

.nav{
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 10px;
    width: 60%;
    margin: 0 auto;
}

.song-row{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.card{
    width: calc(100% / 6 - 2.5rem );
}

.song-card{
    width: 100%;
}

.song-card img{
    width: 100%;
}

.text-card{
    text-align: center;
    color: white;
}


